[Unit]
Description=Subnostr service
After=network.target nginx.service

[Service]
User=lucian
Group=lucian
PIDFile=/home/lucian/subnostr/nostr.pid
RuntimeDirectory=uvicorn
WorkingDirectory=/home/lucian/subnostr
ExecStart=/home/lucian/subnostr/venv/bin/uvicorn main:app --uds nostr.socket
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=default.target

# sudo cp nostr.service /etc/systemd/system/nostr.service
# sudo systemctl daemon-reload
# sudo systemctl restart nostr.service
# start on boot
# sudo systemctl enable nostr.service
